<div  th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/admin/}">Админ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/storage/all}">Склад</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users/all}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/time_manager}">Смена</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="right: 80%; top: 1%">
            <a type="button" th:href="@{/logout}" class="btn btn-outline-light">Выйти</a>
        </div>
    </nav>
</div>



