#deleteButton{
    top: 5%;
    float: right;
    position: relative;
    margin-right: 10px;
}

#editButton{
    top: 5%;
    float: right;
    position: relative;
    margin-right: 10px;
}

.login_panel{
    margin-left: 36%;
}

#starter{
    background-color: #212529;
}

#sback{
    position: absolute;
    top: 1%;
    right: 1%;
}